/* Import the font-face for Regular */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Import the font-face for Bold */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Import the font-face for Italic */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Import the font-face for Bold Italic */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#container {
    max-width: 600px;
    width: 90%;
    background-color: #222;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#output-container {
    height: 300px;
    background-color: #333;
    border-radius: 25px;
    margin: 20px;
    padding: 40px;
    width: 120%;
}

#output {
    height: 300px;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

#input-form, #download-form {
    width: 100%;
    text-align: center;
}

#input-command {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    margin-right: 10px;
}

#input-command:focus {
    outline: none;
}

#menu {
    padding: 10px 20px;
    background-color: #555;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

#send-button {
    padding: 10px 20px;
    background-color: #555;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

#start-button {
    padding: 10px 20px;
    background-color: #555;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 20px;
}

#reload-button {
    padding: 10px 20px;
    background-color: #555;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

#user-message {
    padding: 10px 20px;
    margin: 5px;
    background-color: #555;
    color: white;
    border-radius: 25px;
    display: inline-block;
}

.progress-bar {
  width: auto;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  width: 0;
  transition: width 0.5s ease-in-out;
}

#status-container {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

::-webkit-scrollbar {
  display: none;
}
