<!DOCTYPE html>
<html>
<head>
    <title>📖 LLM RP</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="image-container"></div>
    <div id="container">
        <h1>📖 LLM RP</h1>
        <div id="output-container">
            <div id="output">
                <div class="progress-bar">
                    <div class="progress"></div>
                </div>
            </div>
        </div>
        <div id="status-container"></div>
        <div id="button-container">
            <button id="start-button-random">🎲 Start a random story</button>
            <button id="start-button-custom">📝 Start a custom story</button>
        </div>
        <form id="input-form">
            <input type="text" id="input-command" placeholder="Write action here" required autofocus autocomplete="off">
            <input type="submit" id="send-button" value="Send">
            <button id="reload-button">🗑️</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
